<template>
  <v-container>
    <VCard>
      <VCardTitle primary-title>
        Realize seu Cadastro
      </VCardTitle>
      <VCardText>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="user.username"
            :counter="10"
            :rules="[v => !!v || 'Obrigatorio']"
            label="Nome de Usuario"
            required
          ></v-text-field>

          <v-text-field
            v-model="user.email"
            :rules="[v => !!v || 'Obrigatorio']"
            label="E-mail"
            required
          ></v-text-field>

          <v-text-field
            v-model="user.password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show1 ? 'text' : 'password'"
            :rules="[v => !!v || 'Obrigatorio']"
            label="Senha"
            required
          ></v-text-field>

          <v-text-field
            v-model="passwordCheck"
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[
              v => !!(v == user.password) || 'As Senhas tem que ser iguais'
            ]"
            :type="show2 ? 'text' : 'password'"
            label="Repita a senha"
            required
          ></v-text-field>

          <v-btn @click="register" color="success" class="mr-4">
            Cadastrar
          </v-btn>
        </v-form>
      </VCardText>
    </VCard>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      user: {},
      passwordCheck: '',
      show1: false,
      show2: false
    }
  },

  methods: {
    register() {
      if (this.$refs.form.validate()) {
        this.$axios
          .$post('http://localhost:8000/auth/users/', this.user)
          .then(res => {
            this.$router.push('/')
          })
          .catch(err => {
            console.error('Algo deu errado com o login. Erro: ', err)
          })
      }
    }
  }
}
</script>

<style></style>
