<template>
  <v-container grid-list-md>
    <v-layout row wrap align-center justify-center fill-height>
      <v-flex xs12 md6>
        <v-card>
          <v-card-title>
            <span>Autenticação</span>
          </v-card-title>

          <v-spacer></v-spacer>

          <v-card-text>
            <v-form ref="form">
              <v-container>
                <v-container>
                  <v-textField
                    :counter="70"
                    :rules="rules.username"
                    v-model="credentials.username"
                    label="Usuário"
                    mexlength="70"
                    required
                  />

                  <v-textField
                    :counter="50"
                    :rules="rules.password"
                    v-model="credentials.password"
                    label="Senha"
                    type="password"
                    mexlength="50"
                    required
                  />
                </v-container>
                <v-btn to="/auth/Cadastro" color="secondary">Registre-se</v-btn>
                <v-btn @click="login" color="primary">Login</v-btn>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    credentials: {},
    rules: {
      username: [v => !!v || 'Campo usuário precisa ser preenchido!'],
      password: [
        v => !!v || 'Campo senha precisa ser preenchido!',
        v => (v && v.length > 5) || 'Senha precisa ser maior que 5 caracteres!'
      ]
    }
  }),
  created() {
    if (this.$store.state.auth == null) {
      this.$router.push('/')
    }
  },
  methods: {
    login() {
      if (this.$refs.form.validate()) {
        this.$axios
          .$post('http://localhost:8000/auth/jwt/create/', this.credentials)
          .then(res => {
            const token = {}
            token.auth_token = res.access
            token.status = 'success'
            this.$store.dispatch('login', token)
            this.$router.push('/')
          })
          .catch(err => {
            console.error('Algo deu errado com o login. Erro: ', err)
          })
      }
    }
  }
}
</script>
