<template>
  <v-row>
    <v-col cols="3"></v-col>
    <v-col cols="6">
      <v-card class="text-center">
        <v-card-title>
          Dados usuário
        </v-card-title>
        <v-card-text v-for="(dados, i) in $store.state.auth.user" :key="i">
          <span>{{ i }} - {{ dados }}</span>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  middleware: 'loggedIn'
}
</script>

<style></style>
