<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawered"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item v-if="$store.state.auth">
          <v-list-item-action>
            <v-icon>mdi-face</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="'Olá, ' + username" />
          </v-list-item-content>
        </v-list-item>
        <div v-if="$store.state.auth">
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon
        @click.stop="drawered = !drawered"
        v-if="$store.state.auth"
      />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <div v-if="$store.state.auth">
        <v-row>
          <v-col>
            <v-badge class="text-center mt-2">
              <template v-slot:badge>{{
                $store.state.carrinho.length
              }}</template>
              <v-icon>shopping_cart</v-icon>
            </v-badge>
          </v-col>
          <v-col>
            <v-btn @click="logout" text>
              Logout
            </v-btn>
          </v-col>
        </v-row>
      </div>
      <div v-else>
        <v-btn @click="login" text>
          Login
        </v-btn>
      </div>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawered: false,
      fixed: false,
      items: [
        {
          icon: 'home',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-apps',
          title: 'Perfil',
          to: '/auth/Perfil'
        },
        {
          icon: 'shopping_cart',
          title: 'Carrinho',
          to: '/produtos/carrinho'
        },
        {
          icon: 'edit',
          title: 'Novo Produto',
          to: '/produtos/novo'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Verdureira Que Delicia'
    }
  },
  computed: {
    username() {
      return this.$store.getters.username
    }
  },

  methods: {
    logout() {
      this.$store.dispatch('logout')
      window.location = '/'
    },
    login() {
      this.$router.push('/auth/login')
    }
  }
}
</script>
