<template>
  <v-row>
    <v-col cols="12">
      <h4>Produtos:</h4>
    </v-col>
    <v-col cols="3" v-for="(produto, i) in produtos" :key="i">
      <v-card class="mx-auto" max-width="344" outlined>
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">
              {{ $options.filters.tipo(produto.tipo) }}
            </div>
            <v-list-item-title class="headline mb-1">
              {{ produto.name }}
            </v-list-item-title>
            <v-list-item-subtitle>
              R$ {{ produto.price }}.00
            </v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
        </v-list-item>

        <v-card-actions>
          <v-btn @click="adicionarCarrinho(produto)" icon>
            <v-icon>add_shopping_cart</v-icon>
          </v-btn>
          <v-btn @click="retirarCarrinho(produto)" icon>
            <v-icon>remove_shopping_cart</v-icon>
          </v-btn>
          <v-btn @click="editarProduto(produto)" icon>
            <v-icon>edit</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <!-- <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="produtos"
        :items-per-page="5"
        class="elevation-1"
      >
        <template v-slot:item.tipo="{ item }">
          <span>{{ $options.filters.tipo(item.tipo) }}</span>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn @click="adicionarCarrinho(item)" icon>
            <v-icon>add_shopping_cart</v-icon>
          </v-btn>
          <v-btn @click="retirarCarrinho(item)" icon>
            <v-icon>remove_shopping_cart</v-icon>
          </v-btn>
          <v-btn @click="editarProduto(item)" icon>
            <v-icon>edit</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-col> -->
    <v-dialog v-model="editProduto" max-width="500">
      <VCard>
        <VCardTitle primary-title>
          Editar Produto
        </VCardTitle>
        <VCardText>
          <v-form ref="form" lazy-validation>
            <v-text-field
              v-model="produtoSelecionado.name"
              :counter="10"
              :rules="[v => !!v || 'Obrigatorio']"
              label="Nome"
              required
            ></v-text-field>

            <v-text-field
              v-model="produtoSelecionado.price"
              :rules="[v => !!v || 'Obrigatorio']"
              label="Preço"
              required
            ></v-text-field>

            <v-text-field
              v-model="produtoSelecionado.tipo"
              :rules="[v => !!v || 'Obrigatorio']"
              label="Tipo"
              required
            ></v-text-field>

            <v-btn @click="edicao" color="success" class="mr-4">
              Enviar
            </v-btn>
            <v-btn @click="excluir" color="error" class="mr-4">
              Enviar
            </v-btn>
          </v-form>
        </VCardText>
      </VCard>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  middleware: 'loggedIn',
  name: 'Index',
  data() {
    return {
      headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: false,
          value: 'id'
        },
        { text: 'Nome', value: 'name' },
        { text: 'Preço', value: 'price' },
        { text: 'Tipo', value: 'tipo' },
        { text: 'Ações', value: 'actions' }
      ],
      produtos: [],
      editProduto: false,
      produtoSelecionado: {},
      carrinho: []
    }
  },
  mounted() {
    this.loadData()
  },
  methods: {
    loadData() {
      this.$axios.get('http://localhost:8000/api/produtos').then(results => {
        this.produtos = results.data
      })

      this.carrinho = this.$store.state.carrinho.slice()
    },
    adicionarCarrinho(item) {
      const payload = { item, status: 'add' }
      this.$store.dispatch('updateCart', payload)
    },
    retirarCarrinho(item) {
      const payload = { item, status: 'remove' }
      this.$store.dispatch('updateCart', payload)
      location.reload()
    },
    editarProduto(produto) {
      this.editProduto = true
      this.produtoSelecionado = produto
    },
    edicao() {
      if (this.$refs.form.validate()) {
        this.$axios
          .put(
            'http://localhost:8000/api/produto/edit/' +
              this.produtoSelecionado.id,
            this.produtoSelecionado
          )
          .then(() => {
            this.produtoSelecionado = {}
            this.editProduto = false
            this.$router.push('/')
          })
      }
    },
    excluir() {
      this.$axios
        .delete(
          'http://localhost:8000/api/produto/' + this.produtoSelecionado.id
        )
        .then(() => {
          this.produtoSelecionado = {}
          this.editProduto = false
          this.$router.push('/')
        })
    }
  }
}
</script>
