<template>
  <v-row>
    <v-col cols="2"></v-col>
    <v-col cols="8">
      <v-data-table
        :headers="headers"
        :items="$store.state.carrinho"
        :items-per-page="5"
        class="elevation-1"
      >
        <template v-slot:item.tipo="{ item }">
          <span>{{ $options.filters.tipo(item.tipo) }}</span>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
export default {
  middleware: 'loggedIn',
  data() {
    return {
      headers: [
        {
          text: 'ID',
          align: 'left',
          sortable: false,
          value: 'id'
        },
        { text: 'Nome', value: 'name' },
        { text: 'Preço', value: 'price' },
        { text: 'Tipo', value: 'tipo' }
      ]
    }
  }
}
</script>

<style></style>
