<template>
  <v-container>
    <VRow>
      <VCol cols="3"></VCol>
      <VCol cols="6">
        <VCard>
          <VCardTitle primary-title>
            Cadastro de Produto
          </VCardTitle>
          <VCardText>
            <v-form ref="form" lazy-validation>
              <v-text-field
                v-model="novoProduto.name"
                :counter="10"
                :rules="[v => !!v || 'Obrigatorio']"
                label="Nome"
                required
              ></v-text-field>

              <v-text-field
                v-model="novoProduto.price"
                :rules="[v => !!v || 'Obrigatorio']"
                label="Preço"
                required
              ></v-text-field>

              <v-text-field
                v-model="novoProduto.tipo"
                :rules="[v => !!v || 'Obrigatorio']"
                label="Tipo"
                required
              ></v-text-field>

              <v-btn @click="cadastro" color="success" class="mr-4">
                Enviar
              </v-btn>
              <v-btn @click="cadTipo = true" class="mr-4">
                Novo Tipo
              </v-btn>
            </v-form>
          </VCardText>
        </VCard>
      </VCol>
    </VRow>
    <v-dialog v-model="cadTipo">
      <VCard>
        <VCardTitle primary-title>
          Novo Tipo de Produto
        </VCardTitle>
        <VCardText>
          <v-form ref="form" lazy-validation>
            <v-text-field
              v-model="novoTipo.name"
              :counter="10"
              :rules="[v => !!v || 'Obrigatorio']"
              label="Nome"
              required
            ></v-text-field>

            <v-btn @click="cadastrarTipo" color="success" class="mr-4">
              Enviar
            </v-btn>
          </v-form>
        </VCardText>
      </VCard>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  middleware: 'loggedIn',
  data() {
    return {
      novoProduto: {},
      novoTipo: {},
      cadTipo: false
    }
  },

  methods: {
    cadastro() {
      if (this.$refs.form.validate()) {
        this.$axios
          .post('http://localhost:8000/api/produto/add/', this.novoProduto)
          .then(res => {
            this.$router.push('/')
          })
          .catch(err => {
            console.error(
              'Algo deu errado com o cadastro de produto. Erro: ',
              err
            )
          })
      }
    },
    cadastrarTipo() {
      if (this.$refs.form.validate()) {
        this.$axios
          .post('http://localhost:8000/api/tipo/add/', this.novoTipo)
          .then(res => {
            this.$router.push('/')
          })
          .catch(err => {
            console.error(
              'Algo deu errado com o cadastro do tipo de produto. Erro: ',
              err
            )
          })
      }
    }
  }
}
</script>

<style></style>
